
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.container {
  width: 960px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  top: 50%;
}

h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	text-align: center;
}

p {
	display: block;
	white-space: pre-line;
}

/*------------------------------------------------------------*/
/*SECTION 1:*/

#section1 {
	background-color: #FFC4BC;
	width: 100%;
	height: 100%;
	position: relative;

}

#title {
	margin: 0 auto;
	height: 700px;
}

#title-img {
	height: 700px;
	position: absolute;
	left: 0px;
	top: -60px;
}

#title-banner {
	position: relative;
	top: 25%;
}

body {
	margin: 0;
}

#title h1 {
	font-weight: 300;
	font-size: 7.5em;
	margin: 0px 0px -50px 0px;
	background-image: url(../img/water2.png), 
            
                  url(../img/water2.png);
	background-repeat: no-repeat,
	                   no-repeat;
	background-position:  center;
	background-size: 425px;
}

#subtext-wrapper {
	display: unset;
}

.subtext, h2, #weirdaf {
	font-family: 'Lato';
	font-size: 50px;
	font-weight: 300;
	padding-left: 50%;
}

.subtext, #weirdaf {
	display: inline-block;
	position: absolute;
	top: 69%;
	left: 5%;
}

#button {
	border: solid;
	border-radius: 4px;
	border-width: 1.3px;
	padding: 6px 12px;
	width: 100px;
	background-color: white;
	font-weight: 300;
	margin-top: 100px;
	margin-bottom: 65px;
}

#button:hover {
	background-color: #FFECEA;
	cursor: pointer;
}

#scroll {
	position: absolute;
	font-family: 'Lato';
	font-weight: 300;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}

#scroll-img {
	width: 80px;
	margin-top: -20px;
	cursor: pointer;
}
#title-img2 {
	height: 700px;
	position: absolute;
	left: 0px;
	top: -70px;
}

#menu {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%);
}



/*------------------------------------------------------------
/*ABOUT*/
#modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
}

#modal-box {
	position: fixed;
	width: 250px;
	height: auto;
	z-index: 3;
	background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 4px;
	padding: 0px 45px 30px 45px;
	font-family: 'Lato';
	font-weight: 200;
	font-size: 20px;

}

#x {
	width: 35px;
	height: 35px;
	position: absolute;
	cursor: pointer;
	top: 4%;
	right: 5%;
	z-index: 10;
}

.no-scroll {
	overflow: hidden;
}

#about-img {
	width: 380px;
	position: relative;
	right: 60px; 
}


/*------------------------------------------------------------*/
/*SECTION 2:*/
#section2 {
	text-align: center;
	position: relative;
	height: 1160px;
	width: 100%;
}

#grid-wrapper {
	position: absolute;
	margin: 0px 200px;
}

#section2 h1 {
	font-weight: 100;
	font-size: 80px;
	margin: 45px 30px 8px 30px;
	background-image: url(../img/brush.png);
	background-size: 500px;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;

}

.name {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	font-size: 20px;
	position: absolute;
	width: 200px;
	left: 50%;
	bottom: 22%;
	transform: translate(-50%, -50%);
	white-space: pre-line;
}

.icecream-item {
	display: inline-block;
}

.flavor {
	border: solid;
	border-color: gray;
	border-width: .5px;
	border-radius: 300px;
	width: 250px;
	height: 250px;
	margin: 30px;
	margin-bottom: 10px;
	cursor: default;
	position: relative;
	vertical-align: middle;
}



.flavor-img { 
	width: 175px;
	position: absolute;
	top: 35px;
	z-index: -1;
	left: 15%;
}

.yelp {
	position: relative;
	z-index: 10;
	display: block;
	margin: auto;
	width: 100px;
	vertical-align: middle;
	transform: translateY(255%);

}



/*------------------------------------------------------------*/
/*SECTION 3:*/

hr {
	margin-left: 2%;
}

#section3 {
	background-color: #FFC4BC;
	/*overflow: hidden;*/
	width: 100%;
	/*position: relative;*/
	height: 100%;
}

svg {
	display: none;
	width: 600px;
	margin: 280px 0 0 100px;
}

path {
	stroke-dasharray: 690px;
	stroke-dashoffset: 690px;
	animation: dash 5s ease-in-out forwards;
}

@keyframes dash {
	to {
	stroke-dashoffset: 0;
	opacity: 1;
	}
}


#fact {
	display: none;
	position: absolute;
	width: 430px;
	left: -35px;
	transform: translateX(50%);

}

#fact-img {
	display: none;
	position: relative;
	bottom: 200px;
}